/*  <!-- ===========================
         Common CSS  start 
    =========================== --> */
 a{
    text-decoration: none;
 }

/*  <!-- ===========================
         common css end
    =========================== --> */

/*  <!-- ===========================
         NAVBAR part started
    =========================== --> */
    nav{
      padding: 18px 0px;
    }
.nav-link {
   font-size: 18px;
   font-family: "Jost", sans-serif;
   color: #00413D;
   font-weight: 400;
   padding-right: 0px !important;
   padding-left: 0px !important;
   transition: 0.4s;
}
.navbar-nav {
    column-gap: 50px;
}
.nav-link:hover {
    color: #E5745D;
}
.navbarbtn {
    background-color: #E5745D;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    color: #fff;
    font-weight: 600;
    padding: 24px 46px;
    position: relative;
}
.navbarbtn::after {
    position: absolute;
    left: 4px;
    top: 3px;
    height: 68px;
    width: 194px;
    border: 1px solid white;
    content: "";
}
/* <!-- ===========================
NAVBAR part END
=========================== --> */
/*  <!-- ===========================
         Banner part started
    =========================== --> */
    .banner{
        background: #00413D;
        position: relative;
        overflow: hidden;
        height: 850px;
        width: 100%;
    }
    .overly {
        height: 100%;
        width: 40%;
        background-image: url('../image/hero.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        right: -40%;
        transition: .4s;
    }
    .textarea{
            position: absolute;
            top: 220px;
            left: 120px;
    }
    .banner:hover .overly{
        right: 0;
    }

    .banner h1 {
        font-size: 100px;
        font-weight: 700px;
        color: #fff;
        font-family: "Vollkorn", serif;
        
    }
   .banner h1 span {
    display: block;
   }
   .banner p {
    font-size: 20px;
    font-family: "Jost", sans-serif;
    color: #978686;
    font-weight: 500;
    width: 670px;
    padding-top: 14px;
    padding-bottom: 50px;
   }
   .banner p span {
    color: #fff;
   }
       /*  <!-- ===========================
         common btn part
    =========================== --> */

    .commonbtn {
    width: 170px;
    height: 64px;
    line-height: 64px;
    background: #E5745D;
    text-align: center;
    position: relative;
    }
    .commonbtn a {
        font-size: 18px;
        font-family: "Jost", sans-serif;
        color:white;
        font-weight: 600;
    }
    .commonbtn::after {
        position: absolute;
        left: 2px;
        top: 2px;
        height: 60px;
        width: 166px;
        border: 1px solid white;
        content: "";
    }
    /*  <!-- ===========================
         common btn part
    =========================== --> */
    /*  <!-- ===========================
         Banner part end
    =========================== --> */
    /*  <!-- ===========================
         services part start
    =========================== --> */
     .tittle {
        text-align: center;
     }
    .tittle h4 {
        font-size: 18px;
        color: #E5745D;
        font-weight:500;
        font-family: "Vollkorn", serif;
    }
    .services {
        padding-top: 210px;
    }
    .tittle h2 {
        font-size: 50px;
        color: #00413D;
        font-weight:500;
        font-family: "Vollkorn", serif;
        width: 517px;
        margin: 0 auto;
        padding-top: 11px;
        padding-bottom: 40px;
    }
    .card-title {
        font-size: 20px;
        color: #00413D;
        font-weight:800;
        font-family: "Vollkorn", serif;
    }
    .card-text {
        width: 245px;
        height: 72px;
        font-size: 16px;
        color: rgba(0, 65, 61,.7);
        font-weight:400;
        font-family: "Vollkorn", serif;
    }
    .card img {
        width: 25%;
        padding-bottom: 14px;
    }
    .services .card {
        border: 0px;
        box-shadow: 2px 3px 4px #cfb5b5;
    }
  .services .card  .card-body {
        padding: 0;
    }
    .services .card  .card-body  i{
      font-size: 25px;
      transition: 0.4s;
    }
    .services .card  .card-body  i:hover {
        color: red;
    }
    .services .card {
        padding: 50px 35px;
    }
    /*  <!-- ===========================
         services part end
    =========================== --> */